<div class="form-control" style=" float:left ;height:545px ;background-color:#F5F5DC">
<center>
  <div style="float: left">
    <h3 >Contact-us </h3>
    <h4>Address</h4>
    <p>E-14 ,Sector-12, Chandigarh, 160012</p>
    <h4>Email</h4>
    <p><span class="pseudo-link">pgimer@org.com</span></p>
    <h4>Phone</h4>
    <p>+91-9867544323, 0172-235647 </p>
  </div>
  <div style=" float: left; margin-left: 400px">
    <h3>Follow us on :</h3>
      <h4>twitter</h4>
      <p><span class="pseudo-link">pgimer@org.com</span></p>
      <h4>facebook</h4>
      <p><span class="pseudo-link">pgimer@facebook.com</span></p>
  </div>
</center>
</div>
