<center>
  <div  class="form">
    <h3>Contact-us </h3>
    <h4>Address</h4>
    <p>E-14 ,Sector-12, Chandigarh, 160012</p>
    <h4>Email</h4>
    <p><%= mail_to "pgimer-chd[at][nic][dot]in" %></p>
    <h4>Phone</h4>
    <p>+91-9867544323, 0172-235647 </p>
    <h3>Follow us on :</h3>
      <a target="_blank" title="follow us on twitter" href="http://www.twitter.com">
        <img alt="follow us on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png" border=0></a>
      <a target="_blank" title="find us on Facebook" href="http://www.facebook.com">
        <img alt="follow us on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
  </div>
</center>
