<%=button_to 'Back', root_path, method: :get %>
<% if flash[:alert] %>
  <div class="alert alert-success  alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button><center><%= flash[:alert] %></center>
  </div>
<% end %>
<h1 align="center" style="color:#428bca">New Appointment</h1>
<%= render 'form', appointment: @appointment %>
